<html>
<head>
  <title>Failed to submit</title>
</head>
<body>
<h1>Failed to submit</h1>
  <p>You must input some distances to be allowed to submit to the database.</p>
<p>Return to <a href="{{ url_for("index") }}">the home page</a>?</p>
</body>
</html>
